@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnAssignCourses</title>
</head>
<body>
    <div>
        <fieldset style="width:50%">
            <legend>Unallocate ClassRoom</legend>
            <form method="post" id="unallocate">
                @if (ViewBag.Message != null)
                {
                    <p>@ViewBag.Message</p>
                }


                <input type="submit" name="unallocate" value="Unallocate ClassRoom" style="text-align: center">

            </form>
        </fieldset>
    </div>
</body>
</html>
