@{
    ViewBag.Title = "Home Page";
}


<a href="http://localhost:9215/Department/Department">Save Department</a><br>
<a href="http://localhost:9215/Department/DepartmentView">View Department</a><br>
<a href="http://localhost:9215/Course/CourseEntry">Course Entry</a><br>
<a href="http://localhost:9215/Teacher/SaveTeacher">Save Teacher</a><br>
<a href="http://localhost:9215/Teacher/AssignCourse">Assign Course To Teacher</a><br>
<a href="http://localhost:9215/Course/CourseStatistics">Course Statistics</a><br>
<a href="http://localhost:9215/Student/StudentRegistration">Student Registration</a><br>
<a href="http://localhost:9215/ClassRoom/AllocateClassRoom">Allocate ClassRoom</a><br>
<a href="http://localhost:9215/ClassRoom/ViewClassRoomAllocation">View ClassRoom Allocation</a><br>
<a href="http://localhost:9215/Student/EnrollCourse">Enroll Course</a><br>
<a href="http://localhost:9215/Student/SaveResult">Save Student Result</a><br>
<a href="http://localhost:9215/Student/ViewResult">View Result</a><br>
<a href="http://localhost:9215/ClassRoom/UnAllocateClassRoom">Unallocate All Class Room</a><br>
<a href="http://localhost:9215/Teacher/UnAssignCourses">Unassigne All Course</a>